body {
    background-color: lightblue;
    color: black;
    text-align: center;
    font-size: 25px;
    margin: 0;
    display: flex;
}
h3 {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}